@use '@/styles/abstracts' as *;

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $space-2 $space-6;
  padding: $space-8 $space-6;
  border-top: 1px solid var(--gray-800);
  font-family: var(--font-mono);
  font-size: rem(12);
  color: var(--gray-600);

  @include mq(md) {
    padding-inline: $space-12;
  }
}
