@use '@/styles/abstracts' as *;

.root {
  display: grid;
  place-content: center;
  gap: $space-4;
  min-height: 100svh;
  padding: $space-6;
  text-align: center;
}

.title {
  font-size: clamp(2rem, 8vw, 5rem);
}

.note {
  color: var(--gray-400);
  font-family: var(--font-mono);

  @include mq(md) {
    font-size: rem(18);
  }
}
